.popup__close-button_type-image {
    position: absolute;
    right: -40px;
    top: -40px;
    }



@media screen and (max-width: 870px) {
    .popup__close-button_type-image {
        width: 20px;
        height: 20px;
        background-size: 100%;
        right: -30px;
        top: -30px;
    }
}
