.element__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 15px;
    align-items: baseline;
    margin-top: 25px;
    margin-bottom: 31px;



}