.popup__input {

    display: flex;
    width: 358px;
    margin: 0 auto;
    height: 27px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: Inter, Arial, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;


}

.popup__input:focus {
    outline-width: 1px;
    border-color: #C44D58;

}

@media screen and (max-width: 870px) {
    .popup__input {
        width: 238px;

    }
}

