.element__like-button {
    background-image: url("../../../images/likebutton.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    outline: none;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 0;

}

.element__like-button:hover {
    opacity: .5;
}